{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.collection == 'publications' %}
  {% comment %} ---- Custom, cleaner publication card ---- {% endcomment %}
  {% if post.paperurl %}{% assign pub_link = post.paperurl %}{% else %}{% assign pub_link = post.url | prepend: base_path %}{% endif %}
  <div class="list__item">
    <article class="archive__item pub-card" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="pub-meta">
        <span class="pub-venue">{{ post.venue }}</span>
        <span class="pub-year">{{ post.date | default: "1900-01-01" | date: "%Y" }}</span>
      </div>
      <h3 class="pub-title" itemprop="headline">
        <a href="{{ pub_link }}">{{ title }}</a>
      </h3>
      {% if post.excerpt %}
        <p class="pub-authors" itemprop="description">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% if post.tldr %}
        <p class="pub-tldr">{{ post.tldr }}</p>
      {% endif %}
      {% if post.paperurl %}
        <a class="pub-link" href="{{ post.paperurl }}">{% if post.paperurl contains "openreview" %}OpenReview{% elsif post.paperurl contains "arxiv" %}arXiv{% else %}Paper{% endif %} &rsaquo;</a>
      {% endif %}
    </article>
  </div>

{% else %}
  {% comment %} ---- Default rendering for other collections ---- {% endcomment %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% if post.collection == 'teaching' %}
        <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}
      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% endif %}
    </article>
  </div>
{% endif %}
